.carousel {

    border: 3px solid rgb(48, 58, 58);
    border-radius: 12px;
    background-color: rgb(222, 228, 166);
    margin: 30px;
    margin-left: 160px;
    padding: 20px 12px;
    width: 65%;
    height: 70%;
}

.row h3{
    color: red;
}
.row h1 {
    color: white;
}
.row p {
    color: rgb(125, 109, 80);

}
.category   {
    border: 1px solid rgb(34, 36, 42);
    border-radius: 8px;
    width: auto;
   height: auto;
}
.row .cat1  {
    background-color: aqua;
}
.cat2 {
    background-color: aquamarine;
}
.cat3 {
    background-color: blueviolet;
}
.cat1, .cat2, .cat3 {
 padding: 0px 30px;
}

